html, body, .container-fluid, .content-row {
    height: 100%;
}

.hide {
    display: none;
}

.city-btn:hover {
    background-color: rgb(181, 192, 200);
    cursor: pointer;
}

.card {
    background-color: rgb(130, 204, 205);
}